.button{
    display: block;
    border: 2px solid var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
    font-family: 'Digital', monospace;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
}

@media screen and (max-width:375px){
    .button{
        border: 1px solid var(--primary);
        cursor: pointer;
        font-size: 14px;
        padding: 6px 8px;
    }
}